{% extends "base.twig" %}

{% block title %}
    Page
{% endblock %}

{% block content %}
    <h1>Page</h1>
    <p>some content for this page goes here.</p>
{% endblock %}

{% block footer %}
    <div>page footer</div>
{% endblock %}